* {
  scroll-behavior: smooth;
}

.parallax-container {
  height: 100vh;
  overflow-y: auto;
  background-color: transparent;
  position: relative;
  background-image: url('../assets/bgFinal2.jpg');
  background-size: cover;
  background-position: center;
}

.parallax-container::-webkit-scrollbar {
  display: none;
}

.button:hover{
  background-color:rgba(87, 79, 79, 0.382) !important;
}

@media (max-width:800px){
  .contact_form{
    width:100% !important;
  }
}

.button2:hover{
  background-color: rgb(35,35,35) !important;
}
